.clients__title {
  margin-bottom: 30px;
  font-size: 33px;
  line-height: 1.16;
  text-align: center;
  color: #212121;

  @include desktop {
    font-size: 36px;
    margin-bottom: 50px;
  }
}
.clients__item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.clients__list {
  width: 100%;
  @include calc(2);
  @include tablet {
    @include calc(3);
  }
  @include desktop {
    @include calc(6);
  }
}
.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 92px;

  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  cursor: pointer;

  transition-property: color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
  }

  @include tablet {
    width: 226px;
  }
  @include desktop {
    width: 170px;
  }
}
.clients__icon {
  fill: currentColor;
}
