.page__header {
  border-bottom: 1px solid #ececec;
}

.flex__container {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.header__item:not(:last-child) {
  margin-right: 50px;
}

.nav__list {
  display: flex;
  align-items: center;
}
.nav__link {
  padding: 32px 0px;

  display: inline-block;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.nav__link-current {
  color: var(--accent-color);
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
  }
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
}
.nav__logo {
  margin-right: 93px;
}

.logo__style {
  color: var(--accent-color);
}

.contact {
  display: flex;
  margin-left: auto;
}
.contact__mail,
.contact__phone-number {
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;

  color: var(--secondary-text-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/* --------- */
.contact__item:not(:last-child) {
  margin-right: 30px;
}
.contact__icon {
  fill: currentColor;
  margin-right: 10px;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/* --------- */
.contact__mail:hover,
.contact__mail:focus,
.contact__phone-number:hover,
.contact__phone-number:focus,
.contacts__address-link:hover,
.contacts__address-link:focus,
.contact__icon:hover,
.contact__icon:focus {
  color: var(--accent-color);
}
