.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 300ms linear, visibility 300ms linear;
}
/* кінцевий стан */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scaleY(1);
  transition: transform 300ms linear;
}
/* початковий */
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scaleY(0);
}
.modal__btn {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  transition: border 350ms linear;
  right: 12px;
  top: 10px;
  cursor: pointer;

  &:hover,
  &:focus {
    border: 1px solid rgba(33, 150, 243, 0.8);
  }
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
/* хрестик_____кнопка закриття___ */
.modal__close {
  position: absolute;
  top: 6px;
  left: 5px;
  transition: fill 250ms linear;
}
.modal__btn:hover,
.modal__btn:focus .modal__close {
  fill: var(--accent-color);
}

/* modal--forma */

.modal-form {
  padding: 40px;
}
.modal-form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #212121;
  margin-bottom: 12px;
}

textarea {
  display: block;
  resize: none;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: none;
  padding: 12px 16px;
  transition: border-color 250ms linear;
  cursor: pointer;
}

textarea:focus,
textarea:hover {
  border-color: var(--accent-color);
}

.modal-form__label {
  font-size: 12px;
  line-height: 1.1666666667;
  font-weight: 400;
  letter-spacing: 0.01em;

  display: block;
  margin-bottom: 4px;
  color: #757575;
}

.modal-form__input {
  margin: 0;
  width: 100%;
  height: 40px;
  padding-left: 42px;

  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  margin-bottom: 10px;
  outline: none;
  transition: border-color 250ms linear;
  cursor: pointer;
}

.modal-form__field {
  position: relative;
  color: #212121;
  &:nth-child(4) {
    margin-bottom: 20px;
  }
}

.modal-form__icon {
  position: absolute;
  top: 31px;
  left: 15px;

  fill: currentColor;
  transition: fill 250ms linear;
}

.modal-form__input:hover + .modal-form__icon,
.modal-form__input:focus + .modal-form__icon {
  fill: var(--accent-color);
}
.modal-form__input:hover,
.modal-form__input:focus {
  border-color: var(--accent-color);
}
.modal__button {
  display: block;
  margin: 0 auto;
  outline: none;
}
.modal-form__checkbox-wrap {
  margin-bottom: 30px;
}

.modal-form__checkbox-label {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  //  vertical-align: baseline;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.modal-form__checkbox-input {
  appearance: none;
  cursor: pointer;
}
.modal-form__checkbox-input:hover ~ .modal-form__checkbox-icon,
.modal-form__checkbox-input:focus ~ .modal-form__checkbox-icon {
  box-shadow: 0 0 0 0.1em var(--accent-color);
}

.modal-form__link {
  padding-left: 5px;
  color: var(--accent-color);
  text-decoration: underline;
  outline: none;
}

.modal-form__checkbox-icon {
  position: absolute;
  top: 4px;
  left: 7px;
  /* margin-top: 0em; */
  /* margin-left: 29em; */
  width: 1.14em;
  height: 1.07em;
  overflow: hidden;
  border-radius: 2px;
  background-color: white;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  box-shadow: 0 0 0 0.1em #212121;

  .modal-form__checkbox-input:checked ~ & {
    background-color: var(--accent-color);
    background-image: url(../imeges/icon-check.svg);
    box-shadow: 0 0 0 0.1em var(--accent-color);
  }
}
