
.filter {
   display: flex;
   justify-content: center;
   margin-bottom: 50px;
 }
 .filter .item:not(:last-child) {
   margin-right: 8px;
 }
 .filter-button:hover,
 .filter-button:focus {
   background-color: var(--accent-color);
   color: var(--color-white);
   box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
     0px 2px 2px rgba(0, 0, 0, 0.12);
 }
 .portfolio-item-link {
   display: block;
   transition-property: box-shadow;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 }
 .portfolio-item-link:hover,
 .portfolio-item-link:focus {
   box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
     1px 4px 6px rgba(0, 0, 0, 0.16);
 }
 
 .filter-button {
   font-family: inherit;
   letter-spacing: 0.03em;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.625;
 
   background-color: #f5f4fa;
   text-align: center;
   cursor: pointer;
   border-radius: 4px;
   border-style: none;
   padding: 6px 22px;
 
   transition-property: background-color, color, box-shadow;
   transition-duration: 250ms, 250ms, 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 }
 /* ----------------------- */
 .portfolio-list {
   display: flex;
   flex-wrap: wrap;
   margin-left: -30px;
   margin-top: -30px;
 }
 
 .portfolio-list > .item {
   flex-basis: calc(100% / 3 - 30px);
   margin-left: 30px;
   margin-top: 30px;
 }
 
 .card-content {
   padding: 20px 24px;
   border-left: 1px solid #eeeeee;
   border-right: 1px solid #eeeeee;
   border-bottom: 1px solid #eeeeee;
 }
 .portfolio-title {
   margin-bottom: 4px;
   font-weight: 700;
   font-size: 18px;
   line-height: 2;
   letter-spacing: 0.06em;
   color: inherit;
 }
 
 .portfolio-text {
   font-size: 16px;
   line-height: 1.875;
   color: var(--secondary-text-color);
 }
 /* portfolio-hover-text---overlay-- */
 .portfolio--overlay {
   position: relative;
   overflow: hidden;
 }
 .portfolio--overlay::before {
   display: inline-block;
   content: '';
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(33, 150, 243, 0.9);
   transform: translateY(100%);
   transition: transform 250ms linear;
 }
 .overlay--text {
   position: absolute;
   top: 0;
   left: 0;
   font-size: 18px;
   line-height: 1.55;
   letter-spacing: 0.03em;
   color: #fff;
 
   padding: 63px 24px;
   transform: translateY(100%);
   transition: transform 250ms linear;
 }
 .portfolio-item-link:hover .portfolio--overlay::before {
   transform: translateY(0);
 }
 .portfolio-item-link:hover .overlay--text {
   transform: translateY(0);
 }