:root {
   --main-font: 'Roboto', sans-serif;
   --primary-text-color: #212121;
   --secondary-text-color: #757575;
   --accent-color: #2196f3;
   --background-color-footer: #2f303a;
   --color-white: #fff;
 }
